<div class="container">
  <!-- Top menu section -->
  <!--template from http://tympanus.net/Development/IconHoverEffects-->
  <div class="codrops-top clearfix">
    <a class="codrops-icon codrops-icon-prev" href="#"><span>Previous Project</span></a>
    <span class="right"><a class="codrops-icon codrops-icon-next" href="#"><span>Next Project</span></a></span>
  </div>
  <header>
    <h1>Ruby Game Center <span>“Games lubricate the body and mind.”
― Benjamin Franklin</span></h1>
    <nav id="codrops-demos" class="codrops-demos">
      <a href="#set-1">Magic 8 Ball</a>
      <a href="#set-2">Hi / Lo</a>
      <a href="#set-3">Tic Tac Toe</a>
      <a href="/">HOME</a>
    </nav>
  </header>

  <section id="set-1">
    <!-- magic 8 ball game -->
    <form id="theForm" class="simform" autocomplete="off">
      <div class="simform-inner">
        <div class="question">
          <label for="q1">Magic 8 ball will answer to your question</label>
          <input id="q1" name="q1" type="text" />
        </div>
        <button class="answer answer-color-set1"></button>
      </div>
    </form>
    <!-- show the question and answer part after user enter input -->
    <% if params.has_key?(:q1) && !params[:q1].strip.empty? %>
      <div class="answer-message">Your question: <%= @question %></div>
      <div class="answer-message highlight-bg animated bounce"><%= flash.now[:message] %></div>
    <% end %>

  </section>

  <section id="set-2">
    <!-- hilo game -->
    <form  action="/game/play_hilo" method="get" id="theForm2" class="simform" autocomplete="off">
      <div class="simform-inner">
        <div class="question">
          <label for="guess">Guess a number from 1 to 100</label>
          <input id="guess" name="guess" type="text" />
        </div>
        <button class="answer answer-color-set2"></button>
      </div>
    </form>
    <!-- show message after user input guess -->
    <% if !cookies[:all_guess].nil? %>
        <div class="answer-message"><%= cookies[:all_guess].chop.chop %></div>
        <div class="answer-message" id="notice"><%= flash[:notice] %></div>
        <div class="answer-message" id="alert"><%= flash[:alert] %></div>
    <% end %>
    <%# TODO: show the indicator high, low, or last number enter on all_guess %>

  </section>

  <section id="set-3">
  </section>

</div>

<!-- highlight button at current set of section  -->
<script>
  var hash = window.location.hash,
    current = 0,
    demos = Array.prototype.slice.call( document.querySelectorAll( '#codrops-demos > a' ) );

  if( hash === '' ) hash = '#set-1';
  setDemo( demos[ parseInt( hash.match(/#set-(\d+)/)[1] ) - 1 ] );

  demos.forEach( function( el, i ) {
    el.addEventListener( 'click', function() { setDemo( this ); } );
  } );

  function setDemo( el ) {
    var idx = demos.indexOf( el );
    if( current !== idx ) {
      var currentDemo = demos[ current ];
      currentDemo.className = currentDemo.className.replace(new RegExp("(^|\\s+)" + 'current-demo' + "(\\s+|$)"), ' ');
    }
    current = idx;
    el.className = 'current-demo';
  }
</script>
