<div class="container">
  <div id="bl-main" class="bl-main">
    <section>
      <div class="bl-box">
        <h2 class="bl-icon bl-icon-about">About</h2>
      </div>
      <div class="bl-content">
        <h2>About</h2>
        <div class="about-container">
          <div class="about-left">
            <p>Hi! I'm <strong>NAT</strong>, short for Nattapon Aryucharoen. I’ve worked in IT for my whole career. After getting my degree in computer science, I worked as a programmer for a couple of years. For the last 12 years, I’ve had various roles in corporate IT. I’ve recently completed a full stack web development boot camp at LEARN Academy and currently work as a software engineer intern.
            </p>
            <p>This will be my personal website. It is currently in progress. Thanks for visiting! ... <a href="http://www.nat14.com">back to current main page</a></p>
          </div>
          <div class="about-right">
            <%= image_tag 'profile-pic.jpg' %>
          </div>
        </div>

      </div>
      <span class="bl-icon bl-icon-close"></span>
    </section>
    <section id="bl-work-section">
      <div class="bl-box">
        <h2 class="bl-icon bl-icon-portfolio">Portfolio</h2>
      </div>
      <div class="bl-content">
        <h2>My Works</h2>
        <p>These projects are in progress. Details of the projects will give more information of what I am working on. Come back often to check on my progress and to see new works. Thank you!</p>
        <ul id="bl-work-items">
          <li data-panel="panel-1"><a href="#"><%= image_tag 'studycup.png' %></a>
            <p>StudyCup</p>
          </li>
          <li data-panel="panel-2"><a href="#"><%= image_tag 'ruby-game.png' %></a>
            <p>Ruby Game Center</p>
          </li>
          <li data-panel="panel-3"><a href="#"><%= image_tag 'learn-game.png' %></a>
            <p>LEARN Game App</p>
          </li>
          <li data-panel="panel-4"><a href="#"><%= image_tag 'dev-match2.png' %></a>
            <p>Dev Match App</p>
          </li>
          <li data-panel="panel-5"><a href="#"><%= image_tag 'apartment-finder.png' %></a>
            <p>Apartment Finder</p>
          </li>
          <li data-panel="panel-6"><a href="#"><%= image_tag 'confucius-say.png' %></a>
            <p>Confucius Say</p>
          </li>
          <li data-panel="panel-7"><a href="#"><%= image_tag 'soduku.png' %></a>
            <p>Soduku Solver</p>
          </li>
          <li data-panel="panel-8"><a href="#"><%= image_tag 'wildlife-tracker.png' %></a>
            <p>Wildlife Tracker</p>
          </li>
        </ul>
      </div>
      <span class="bl-icon bl-icon-close"></span>
    </section>
    <section>
      <div class="bl-box">
        <h2 class="bl-icon bl-icon-resume">Resume</h2>
      </div>
      <div class="bl-content">
        <h2>Resume</h2>
        <article>
          <h3>ABOUT ME</h3>
          <p>I am a self-motivated and resourceful developer seeking opportunities to
contribute to the growth and success of a dynamic company using my full
stack web application development skills. After working as a programmer
early in my career, I held various roles in corporate IT and received training in
engineering. Today, I am following my passion for coding. I’ve recently
completed a full stack web development boot camp at LEARN Academy and
currently work as a software engineer intern.</p>
        </article>
        <article>
          <h3>EDUCATION</h3>
          <p>Full Stack Web Developement LEARN Academy San Diego, CA 2016<br/>
          Master of Science, Industrial Engineering The University of Tennessee at Chattanooga 1997 – 2001<br/>
          Bachelor of Science, Computer Science Bangkok University, Thailand 1992 - 1995
          </p>
        </article>
        <article>
          <h3>EMPLOYMENT</h3>
          <p>Software Engineer Intern at Q-Centrix San Diego, CA 4/2016 - Present</p>
          <p>Using Ruby on Rails, AngularJS, and JavaScript to develop web applications for the health care industry.</p>
          <br/>
          <p>Application Manager at Tech Systems Inc Duluth, GA 2002 – 2015</p>
          <p>More than 12 years of experience with Tech Systems, Inc., a leading provider of enterprise security systems, progressing from system specialist to application development manager.</p>
          <p>
+ Customized CRM application using HTML, CSS and JavaScript to provide self-service access to inventory levels and pricing data, increasing efficiency and saving time for client services team.
+ Extended CRM functionality using JavaScript, minimizing time needed to update the application to support new business processes implemented by management.
+ Created time sheet web application using PHP and MySQL.
+ Developed custom SharePoint dashboards for clients using
SharePoint Web Parts, providing a snapshot of pending and closed
support issues.
+ Built a report server using SQL, SSRS and SSIS, replacing non-
centralized MS Excel and Access reports.
+ Managed and supported CRM web application for 70 account
managers.
+ Maintained FieldConnect web application for 80 technicians and
managers.
+ Provided back-office application support for more than 200 internal
customers and numerous external clients.
          </p>
        </article>
        <article>
          <h3>CERTIFICATIONS</h3>
          <p>MCSA SQL SERVER 2012 2015 <br/>MICROSOFT CERTIFIED PROFESSIONAL 2015</p>
        </article>
        <article>
          <h3>PROGRAMMING</h3>
          <p>Ruby on Rails Ruby
BDD
RSpec JavaScript CoffeeScript AngularJS HTML5 haml
CSS jQuery Bootstrap SQL MySQL PHP SharePoint</p>
        </article>
        <article>
          <h3>OTHER SKILLS</h3>
          <p>Agile Web Development Github
Slack
Pair Programming Problem Solving</p>
        </article>
      </div>
      <span class="bl-icon bl-icon-close"></span>
    </section>
    <section>
      <div class="bl-box">
        <h2 class="bl-icon bl-icon-contact">Contact</h2>
      </div>
      <div class="bl-content">
        <header>
          <h2>Get in touch<span>Thanks for visiting. Why don't stay in touch!</span></h2>
          <nav class="contact-nav">
          <div data-role="main" class="ui-content">
            <a href="#"><i class="fa fa-envelope-o"></i></a>
            <a href="#"><i class="fa fa-twitter-square"></i></a>
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
          </div>
          </nav>
        </header>
        <%= form_tag('send_contact_email', method: :post, class: 'contact-form') %>
          <div class="contact">
            <label for="name">Name</label>
            <input id="name" name="contact[name]" type="text" />
            <label for="email">Email</label>
            <input id="email" name="contact[email]" type="text" />
            <label for="comments">Comments</label>
            <textarea id="comments" name="contact[comments]" type="textarea"></textarea>
          </div>
          <button type="submit" class="btn btn-info">
            <i class="fa fa-paper-plane-o"></i> Send</button>
        </form>
        <div class="contact-container">
          <div class="contact-twitter" id="twitter">
            <a class="twitter-timeline" href="https://twitter.com/nattap0n" data-widget-id="708113857491771392">Tweets by @nattap0n</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <div class="contact-linkedin">
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/nataryucharoen" data-format="inline"></script>
          </div>
        </div>
      </div>
      <span class="bl-icon bl-icon-close"></span>
    </section>
    <!-- Panel items for the works -->
    <div class="bl-panel-items" id="bl-panel-work-items">
      <div data-panel="panel-1">
        <div>
          <a href="http://www.studycup.com"><%= image_tag 'studycup.png' %></a>
          <h3>StudyCup</h3>
          <p>Group Project: StudyCup is a collaboration from the group of six LEARN students. The project goal is to help match students with study partners. Users can make a study meeting suggestion and join existing meetings.</p>
          <p>Team: Rebecca, Katlin, Josh, Jon, Issac</p>
          <p>Tag: Ruby on Rails, JavaScript, HTML, CSS, <a href="https://github.com/Nat14/Coffeeshop-group-project" target="_blank"><i class="fa fa-github fa-3x"></i></a></p>
          <a href="http://www.studycup.com">Take a look</a>

        </div>
      </div>
      <div data-panel="panel-2">
        <div>
          <a href="../game/play_games.html"><%= image_tag 'ruby-game.png' %></a>
          <h3>Ruby Game Center</h3>
          <p>Magic 8 ball, HI/LO and Tic Tac Toe are games we built in class once using JavaScript and again using Ruby. We used them to learn the logic of programming. I created them again here on my site combining them into one Rails controller. Check out my github for the code we did in class with pair programming.</p>
          <p>Future features: Hi and Lo indicators, Tic Tac Toe score card.</p>
          <p>Tag: Ruby on Rails, JavaScript, HTML, CSS, <a href="https://github.com/Nat14/TicTacToe-RailsApp" target="_blank"><i class="fa fa-github fa-3x"></i></a></p>
          <a href="../game/play_games.html">Take a look</a>

        </div>
      </div>
      <div data-panel="panel-3">
        <div>
          <a href="https://learngameapp.herokuapp.com" target="_blank"><%= image_tag 'learn-game.png' %></a>
          <h3>LEARN Game App</h3>
          <p>After we learned how to build Rails application, I built this web application, which combines all challenges we did in class. This web application can save the user session (using cookies) and display 'player' name in different pages user visited. We built artificial intelligence into this version of Tic Tac Toe. You can pick the difficulty level when playing against the computer. Check out my github for the source code.</p>
          <p>Tag: Ruby on Rails, JavaScript, HTML, CSS, <a href="https://github.com/Nat14/learnacademy_gamesapp" target="_blank"><i class="fa fa-github fa-3x"></i></a></p>
          <a href="https://learngameapp.herokuapp.com" target="_blank">Take a look</a>
        </div>
      </div>
      <div data-panel="panel-4">
        <div>
          <a href="https://devmatchapp.herokuapp.com"><%= image_tag 'dev-match2.png' %></a>
          <h3>Dev Match App</h3>
          <p>This project is for learning Full Stack Rails application. The application is for a developer, investor and entrepreneur to meet.</p>
          <p>Tag: Ruby on Rails, JavaScript, HTML, CSS, <a href="https://github.com/Nat14/simplecodecasts_saas" target="_blank"><i class="fa fa-github fa-3x"></i></a></p>
          <a href="https://devmatchapp.herokuapp.com">Take a look</a>
        </div>
      </div>
      <div data-panel="panel-5">
        <div>
          <a href="https://apartment-finder-learn.herokuapp.com"><%= image_tag 'apartment-finder.png' %></a>
          <h3>Apartment Finder</h3>
          <p>We are developing an Apartment Finder application where we can learn REST, Google map API and Paperclip gem. This is a work in progress.</p>
          <p>Tag: Ruby on Rails, JavaScript, HTML, CSS, <a href="https://github.com/Nat14/apartment-finder-with-map" target="_blank"><i class="fa fa-github fa-3x"></i></a></p>
          <a href="https://apartment-finder-learn.herokuapp.com">Take a look</a>
        </div>
      </div>
      <div data-panel="panel-6">
        <div>
          <a href="https://confucius-bots.herokuapp.com/"><%= image_tag 'confucius-say.png' %></a>
          <h3>Confucius Says</h3>
          <p>This is a challenge in <a href="https://github.com/magicnights/twitter-bot">SD Ruby magic night.</a> We split into teams and tried to create a Twitter “personality.” Our team successfully tweeted from command line giving random advice back to the user input. I then did more research and created this rails app for permanently hosting Confucius Says in Heroku. Twitter Bot! This is simple web application receiving user input then generate random "advice" from saved list of part of speech. The application then tweets the output to Twitter.</p>
          <p>Tag: Ruby on Rails, JavaScript, HTML, CSS, <a href="https://github.com/Nat14/Twitter-bot-confucius-say" target="_blank"><i class="fa fa-github fa-3x"></i></a></p>
          <a href="https://confucius-bots.herokuapp.com/">Take a look</a>
        </div>
      </div>
      <div data-panel="panel-7">
        <div>
          <a href="../sodukus/view"><%= image_tag 'soduku.png' %></a>
          <h3>Soduku Solver</h3>
          <p>This project is part of a question from Ruby Magic Night of SD Ruby Meetup. The question is to solve soduku puzzle with Ruby. Please checkout my code on github.</p>
          <p>Tag: Ruby on Rails, JavaScript, HTML, CSS, <a href="https://github.com/Nat14/My-Rails-Site/blob/master/app/controllers/sodukus_controller.rb" target="_blank"><i class="fa fa-github fa-3x"></i></a></p>
          <a href="../sodukus/view">Take a look</a>
        </div>
      </div>
      <div data-panel="panel-8">
        <div>
          <a href="https://wildlifetrackerapp.herokuapp.com/"><%= image_tag 'wildlife-tracker.png' %></a>
          <h3>Wildlife Tracker</h3>
          <p>Work in progress...</p>
          <a href="https://wildlifetrackerapp.herokuapp.com/">Take a look</a>
        </div>
      </div>
      <nav>
        <span class="bl-next-work">&gt; Next Project</span>
        <span class="bl-icon bl-icon-close"></span>
      </nav>
    </div>

  </div>
</div><!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<%= javascript_include_tag "boxlayout.js"%>
<script>
  $(function() {
    Boxlayout.init();
  });
</script>
